////////////////////////////////////////////////////////////////////// Framework
//------------------------------------------------------------------------------
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 1;
  background: $gray100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

/////////////////////////////////////////////////////////////////////////// Text
//------------------------------------------------------------------------------
input, textarea { outline: none; padding: 0; }
textarea { resize: none; }

p, h1, h2, h3, h4, h5, h6, ul, li, div, a, section {
  margin: 0;
  padding: 0;
  font-family: $font1;
  font-weight: 400;
  color: $gray800;
  box-sizing: border-box;
}

a { display: block; }
img, input, textarea, form { box-sizing: border-box; display: block; }

h1 { font-size: 36px; line-height: 32px; }
h2 { font-size: 30px; line-height: 32px; }
h3 { font-size: 45px; line-height: 47px; }
h4 { font-size: 30px; line-height: 32px; }
h5 { font-size: 20px; line-height: 22px; }
h6 { font-size: 18px; line-height: 20px; }
p, li, a, div { font-size: 16px; line-height: 18px; }
a {
  text-decoration: none;
  cursor: pointer;
  transition: 250ms;
  &:hover {
    transition: 250ms;
  }
}

///////////////////////////////////////////////////////////////// Flex structure
//------------------------------------------------------------------------------
.flex-c { @include display-flex; @include flex-column; @include flex-no-wrap; @include flex-center; @include flex-middle; }
.flex-r { @include display-flex; @include flex-row; @include flex-no-wrap; @include flex-center; @include flex-middle; }
.col { @include display-flex; @include flex-column; @include flex-no-wrap; }
.row { @include display-flex; @include flex-row; @include flex-no-wrap; }
.wrap { @include flex-wrap; }
////////////////////////////////////////////////////////// [justify] positioning
.start { @include flex-start; }
.center { @include flex-center; }
.end { @include flex-end; }
//////////////////////////////////////////////////////////// [align] positioning
.top { @include flex-top; }
.middle { @include flex-middle; }
.bottom { @include flex-bottom; }
.self-start { @include self-start; }
.self-end { @include self-end; }
//////////////////////////////////////////////////////////////////////// spacing
.between { @include flex-between; }

/////////////////////////////////////////////////////////////////////// Elements
//------------------------------------------------------------------------------

//////////////////////////////////////////////////////////// Structural elements
//------------------------------------------------------------------------------
.wrapper, .console, .content {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  z-index: 1;
}

.console {
  z-index: 2;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  top: 25px;
  left: 25px;
  border: 1px solid $gray300;
}

.content {
  z-index: 3;
}

input[type="text"], input[type="password"], input[type="submit"], textarea {
  font-size: 12px;
  line-height: 12px;
}

input[type="text"], input[type="password"], textarea, input[type="file"] {
  font-size: 12px;
  line-height: 12px;
  border: 1px solid $gray400;
  padding: 5px;
  margin-top: 5px;
  transition: 150ms;
  &:focus {
    transition: 150ms;
    border-color: black;
  }
}

input[type="text"], input[type="password"] {
  width: 200px;
}

textarea {
  width: 100%;
  height: 150px;
}

input[type="file"] {
  @include flex-c;
  width: 100%;
  padding: 15px;
  background: white;
  cursor: pointer;
  &:hover {
    transition: 150ms;
    border-color: black;
  }
}

input[type="submit"] {
  border: 0;
  background: transparent;
  border-radius: 0;
  background: black;
  color: white;
  padding: 8px 15px;
  transition: 150ms;
  &:hover {
    transition: 150ms;
    background: $gray700;
  }
}

#flashNOTICE {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: black;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: 250ms;
  &.activeFlashNOTICE {
    opacity: 1;
    visibility: visible;
  }
  p {
    color: white;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
  }
  .countdown {
    @include flex-c;
    display: none;
    position: absolute;
    right: 25px;
    bottom: 0;
    height: 100%;
    width: 25px;
    color: white;
  }
}

///////////////////////////////////////////////////////////////// Other elements
//------------------------------------------------------------------------------
#logo {
  display: none;
  position: absolute;
  bottom: -10%;
  left: -10%;
  width: 40%;
  margin-right: 10px;
  opacity: 0.05;
}

.subtitle {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#loginB, #adminTOOLBAR {
  position: absolute;
  bottom: 0;
  right: 25px;
  height: 25px;
}

#loginB, #logoutB {
  cursor: pointer;
  opacity: 0.5;
  font-size: 10px;
  line-height: 12px;
  background: transparent;
  color: black;
  padding: 0;
  transition: 150ms;
  &:hover {
    transition: 150ms;
    text-decoration: underline;
    opacity: 1;
  }
}

#adminTOOLBAR {
  div {
    font-size: 10px;
    line-height: 12px;
    margin-right: 15px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

#loginFORM, #newHerbPANEL, #editHerbPANEL {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $transWhite;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 150ms;
  &.active {
    transition: 150ms;
    opacity: 1;
    visibility: visible;
  }
  .container {
    width: 320px;
    height: 568px;
    border-radius: 2px;
    background: white;
    padding: 25px;
    border: 1px solid $gray200;
    overflow-y: scroll;
  }
  .box {
    margin-bottom: 15px;
  }
  .subtitle, .cancelB {
    font-size: 12px;
    line-height: 12px;
  }
  .cancelB {
    cursor: pointer;
    opacity: 0.5;
    transition: 150ms;
    &:hover {
      transition: 150ms;
      opacity: 1;
    }
  }
}

#loginFORM {
  .box {
    &:nth-child(2) {
      margin-bottom: 25px;
    }
  }
}

#newHerbPANEL, #editHerbPANEL {
  .box {
    &:last-child {
      margin-bottom: 0;
    }
  }
  .checkboxROW {
    display: inline-block;
    width: 100%;
    label, input[type="checkbox"] {
      cursor: pointer;
    }
    label {
      font-size: 12px;
      line-height: 14px;
      float: left;
    }
    input[type="checkbox"] {
      float: left;
      margin-right: 5px;
    }
  }
}

#nav {
  @include display-flex;
  @include flex-middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50px;
  border-right: 1px solid $gray300;
  border-bottom: 1px solid $gray300;
  z-index: 10;
  z-index: 100;
  background: $gray100;
  #backB {
    @include flex-c;
    position: relative;
    margin-left: -50px;
    width: 50px;
    height: 100%;
    border-right: 1px solid $gray300;
    transition: 150ms;
    &:hover {
      background: $gray300;
    }
    &.active {
      margin-left: 0;
    }
    img {
      width: 20px;
      opacity: 0.75;
    }
  }
  .navB {
    @include flex-c;
    height: 100%;
    border-right: 1px solid $gray300;
    padding: 0 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    &:hover {
      background: $gray200;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .shareB {
    @include flex-c;
    width: 50px;
    img {
      width: 19px;
      opacity: 0.7;
    }
  }
}

#leftPANEL, #rightPANEL {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 10;
}
#leftPANEL {
  padding-top: 50px;
  padding-bottom: 10px;
  border-right: 1px solid $gray300;
  overflow-y: scroll;
  .box {
    @include display-flex;
    @include flex-middle;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray300;
    position: relative;
    height: 75px;
    padding-left: 10px;
    p, h5 {
      &:first-letter {
        text-transform: capitalize;
      }
    }
  }
}
#rightPANEL {
  &.active {
    #editHerbB {
      opacity: 1;
      visibility: visible;
    }
  }
}

#closeB, #herbPanelCloseB {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 25px;
  z-index: 1010;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: 150ms;
  &.active {
    opacity: 0.5;
    visibility: visible;
    @include transform(translateY(10px));
  }
  &:hover {
    transition: 150ms;
    opacity: 1;
  }
}

#editHerbB {
  display: none;
}



//
//
//
//
//
//
//
//
//
//
//
