/////////////////////////////////////////////////////////////////////////// View
//------------------------------------------------------------------------------
#herbPAGE {
  #editHerbB {
    display: block;
  }
}

#herbLIST {
  padding: 0 10px;
  .herbITEM {
    cursor: pointer;
    display: inline-block;
    position: relative;
    float: left;
    width: calc(33.333% - 6.6667px);
    margin-right: 10px;
    margin-bottom: 10px;
    &:hover {
      text-decoration: underline;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    .herbIMG {
      @include centerImage;
      width: 100%;
      padding-top: 100%;
    }
    .herbItemINFO {
      background: white;
      padding: 10px;
      p {
        &:last-child {
          font-style: italic;
          font-size: 80%;
        }
      }
    }
  }
}

#editHerbB {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1000;
  padding: 8px 15px;
  background: $red500;
  color: white;
  cursor: pointer;
  transition: 150ms;
  &:hover {
    transition: 150ms;
    background: $red700;
  }
}

#herbPANEL {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 100;
  background: white;
  padding: 25px;
  transition: 150ms;
  &.activeHerbPANEL {
    @include transform(translateY(-25px));
    opacity: 1;
  }
  section {
    margin-bottom: 25px;
  }
  #herbNAME {
    font-size: 24px;
    line-height: 26px;
  }
  #herbLatinNAME {
    font-style: italic;
  }
  #teaPrepGuide {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    .teaInfoBOX {
      width: 33.333%;
      &:nth-child(2) {
        border-left: 1px solid black;
        border-right: 1px solid black;
      }
      .teaInfoTITLE {
        width: 100%;
        border-bottom: 1px solid black;
        text-align: center;
        padding: 5px;
        font-weight: 600;
      }
      .teaInfoDATA {
        padding: 15px 0;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////// Create
//------------------------------------------------------------------------------


//
//
//
//
//
//
//
//
//
//
//
//
//
