////////////////////////////////////////////////////////////////////////// Herbs
//------------------------------------------------------------------------------
.herbITEM {
  cursor: pointer;
  display: inline-block;
  float: left;
  clear: both;
  &:hover {
    text-decoration: underline;
  }
}

#herbPANEL {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 100;
  background: white;
  padding: 25px;
  opacity: 0;
  transition: 150ms;
  &.activeHerbPANEL {
    @include transform(translateY(-25px));
    opacity: 1;
  }
  section {
    margin-bottom: 25px;
    .subtitle {
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
  }
  #herbNAME {
    font-size: 24px;
    line-height: 26px;
  }
  #herbLatinNAME {
    font-style: italic;
  }
  #teaPrepGuide {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    .teaInfoBOX {
      width: 33.333%;
      &:nth-child(2) {
        border-left: 1px solid black;
        border-right: 1px solid black;
      }
      .teaInfoTITLE {
        width: 100%;
        border-bottom: 1px solid black;
        text-align: center;
        padding: 5px;
        font-weight: 600;
      }
      .teaInfoDATA {
        padding: 15px 0;
      }
    }
  }
}


//
//
//
//
//
//
//
//
//
//
//
//
//
