/////////////////////////////////////////////////////////////////////////// View
//------------------------------------------------------------------------------
#herbPAGE {
  #editHerbB {
    display: block;
  }
  #herbPANEL, .previewCONTAINER {
    p, h1, h2, h3, h4, h5, h6, ul, li, div, a, section {
      font-family: $font2;
      color: black;
    }
    a {
      display: inline-block;
      color: $blue800;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin-bottom: 10px;
    }
    h3 {
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px;
      margin-top: 15px;
      font-size: 14px;
      line-height: 16px;
      border-bottom: 1px solid $gray300;
      padding-bottom: 5px;
    }
    h6 {
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      font-weight: 600;
    }
    ul, ol {
      padding-left: 15px;
    }
    ol {
      li, a {
        font-size: 12px;
        line-height: 14px;
      }
    }
    #description {
      margin-top: 10px;
    }
    #herbNAME, .editNamePREVIEW, .newNamePREVIEW {
      font-size: 24px;
      line-height: 26px;
    }
    #herbLatinNAME, .editLatinNamePREVIEW, .newLatinNamePREVIEW {
      font-style: italic;
    }
  }
  #herbPANEL {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 100;
    background: white;
    padding: 25px;
    transition: 150ms;
  }
}

#herbLIST {
  padding: 0 10px;
  .herbITEM {
    cursor: pointer;
    display: inline-block;
    position: relative;
    float: left;
    width: calc(33.333% - 6.6667px);
    margin-right: 10px;
    margin-bottom: 10px;
    &:hover {
      text-decoration: underline;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    .herbIMG {
      @include centerImage;
      background-image: url('../images/preloader.svg');
      background-size: 75px;
      width: 100%;
      padding-top: 100%;
    }
    .herbItemINFO {
      background: white;
      padding: 10px;
      p {
        color: black;
        &:last-child {
          font-style: italic;
          font-size: 80%;
        }
      }
    }
  }
}

#editHerbB {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1000;
  padding: 8px 15px;
  background: $red500;
  color: white;
  cursor: pointer;
  transition: 150ms;
  &:hover {
    transition: 150ms;
    background: $red700;
  }
}

#newHerbPANEL, #editHerbPANEL {
  position: absolute;
  top: 25px;
  left: 25px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  background: $gray100;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 150ms;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .inputCONTAINER, .previewCONTAINER {
    position: absolute;
    top: 0;
    height: 100%;
    border: 1px solid $gray300;
  }
  .inputCONTAINER {
    border-right: 0;
    padding-top: 0;
    left: 0;
    width: 50%;
    overflow: hidden;
    .section {
      display: inline-block;
      width: 100%;
      margin-bottom: 25px;
      padding: 0 25px;
      .box {
        float: left;
        margin-right: 25px;
      }
    }
    .subtitle {
      margin-bottom: 5px;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 12px;
    }
    input[type="text"], input[type="password"], input[type="file"] {
      font-size: 12px;
      line-height: 12px;
      border: 1px solid $gray300;
      padding: 5px;
      font-family: monospace;
      width: 200px;
      margin-top: 5px;
      transition: 150ms;
      &:focus {
        transition: 150ms;
        border-color: black;
      }
    }
    .informationSECTION {
      padding: 0;
      height: calc(100% - 50px);
      overflow: hidden;
      textarea {
        width: calc(100% + 25px);
        height: 100%;
        padding: 25px;
        padding-right: 50px;
        border: 0;
        font-size: 14px;
        line-height: 16px;
        font-family: monospace;
      }
    }
  }
  .previewCONTAINER {
    left: 50%;
    width: calc(50% + 25px);
    padding: 25px;
    padding-right: 50px;
    background: white;
    overflow-y: scroll;
  }
  .formTOOLBAR {
    @include display-flex;
    @include flex-end;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $gray300;
    background: $gray100;
    z-index: 100;
    position: relative;
    .saveB, .cancelB, .editInfoB, .newInfoB {
      @include flex-c;
      border: 0;
      background: transparent;
      border-radius: 0;
      font-size: 12px;
      line-height: 14px;
      padding: 0px 25px;
      cursor: pointer;
      border-left: 1px solid $gray300;
      transition: 150ms;
      &:hover {
        transition: 150ms;
        background: white;
      }
    }
    .editInfoB, .newInfoB {
      position: absolute;
      top: 0;
      left: 0;
      height: 50px;
      border-left: 0;
      border-right: 1px solid $gray300;
      &.active {
        background: white;
      }
    }
  }
  .formGeneralINFO {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 50;
    padding-top: 25px;
    background: $gray100;
    border-bottom: 1px solid $gray100;
    @include transform(translateY(-120%));
    transition: 150ms;
    &.active {
      @include transform(translateY(0));
    }
    .categoriesBOX {
      width: 100%;
      .checkboxROW {
        display: inline-block;
        label {
          display: inline-block;
          float: left;
          margin-right: 5px;
          font-size: 12px;
          line-height: 14px;
          float: left;
          cursor: pointer;
          border: 1px solid $gray300;
          padding: 10px;
          transition: 150ms;
          &:hover {
            background: white;
          }
        }
        input[type="checkbox"] {
          display: none;
          &:checked {
            + label {
              background: white;
            }
          }
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////// Create
//------------------------------------------------------------------------------


//
//
//
//
//
//
//
//
//
//
//
//
//
