/////////////////////////////////////////////////////////////////////// 771-1366
@media only screen and (min-width: 771px) and (max-width: 1150px) {
  .categoryTILE {
    width: calc(33.333% - 6.66667px);
    padding-top: calc(33.333% - 6.66667px);
    &:nth-child(5n) {
      margin-right: 10px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(n + 4) {
      margin-top: 10px;
    }
    div {
      img {
        margin-bottom: 5px;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////// 770
@media only screen and (max-width: 770px) {
  #nav {
    width: 100%;
    border-right: 0;
  }

  #logo {
    width: 80%;
  }

  #leftPANEL, #rightPANEL {
    width: 100%;
    float: none;
  }

  #leftPANEL {
    border-right: 0;
    .title {
      display: block;
    }
  }

  #categoryPAGE {
    #rightPANEL {
      display: none;
    }
  }

  #categoryListTOGGLE {
    display: block;
    position: absolute;
    top: -30px;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid $gray300;
    &.active {
      p {
        opacity: 0;
      }
      img {
        opacity: 1;
      }
    }
    p {
      @include flex-c;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      opacity: 1;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 15px;
      opacity: 0;
    }
  }

  #herbPAGE {
    #leftPANEL {
      overflow-y: hidden;
      padding-bottom: 0;
      height: 0;
      &.active {
        height: auto;
        #categoryLIST {
          margin-top: 0;
        }
      }
      #categoryLIST {
        margin-top: -200px;
        margin-bottom: 0;
        transition: 150ms;
      }
      .title {
        display: none;
      }
    }
    #rightPANEL {
      height: calc(100% - 30px);
      z-index: 100;
      transition: 150ms;
      &.active {
        visibility: visible;
        margin-top: 30px;
        height: calc(100% - 60px);
      }
      #selectIND {
        display: none;
      }
    }
    #herbLIST {
      display: none;
    }
  }

  #aboutPAGE {
    .section {
      width: 70%;
    }
  }
}

//////////////////////////////////////////////////////////////////////////// 737
@media only screen and (max-width: 737px) {
  #logo {
    width: 50%;
    bottom: -20%;
    left: -10%;
  }

  #nav {
    height: 30px;
    .shareB {
      width: 30px;
      img {
        width: 12px;
      }
    }
  }

  #closeB {
    height: 30px;
    width: 30px;
    img {
      width: 12px;
    }
  }

  .categoryTILE {
    p {
      font-size: 10px;
      line-height: 12px;
    }
  }

  #aboutPAGE, #contactPAGE {
    .header {
      height: 30px;
      padding: 0 10px;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 10px;
    }
    .section {
      width: 100%;
      padding: 0 10px;
    }
  }

  #leftPANEL {
    padding: 30px 30px 0 0;
    width: calc(100% + 30px);
  }

  #herbPAGE {
    #rightPANEL {
      #herbPANEL {
        padding: 15px;
        width: calc(100% + 30px);
        padding-right: 45px;
        section {
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////// 415
@media only screen and (max-width: 415px) {
  #logo {
    width: 80%;
    bottom: -10%;
    left: -10%;
  }

  .console {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 15px;
    left: 15px;
  }

  #loginB, #adminTOOLBAR {
    display: none;
  }

  #herbLIST {
    .herbITEM {
      width: calc(50% - 5px);
      margin-bottom: 10px;
      margin-right: 10px;
      &:nth-child(3n) {
        margin-right: 10px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
      .herbItemINFO {
        p {
          &:first-child {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 2px;
          }
          &:last-child {
            font-size: 10px;
            line-height: 12px;
          }
        }
      }
    }
  }

  .categoryTILE {
    width: calc(33.333% - 6.66667px);
    padding-top: calc(33.333% - 6.66667px);
    &:nth-child(5n) {
      margin-right: 10px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(n + 4) {
      margin-top: 10px;
    }
    div {
      img {
        margin-bottom: 5px;
      }
    }
  }
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
