.page {
  #leftPANEL {
    padding: 25px;
    padding-top: 75px;
  }
}

#aboutPAGE {
  #rightPANEL {
    img {
      height: 60%;
      margin-bottom: 15px;
    }
    a {
      font-style: italic;
      font-size: 14px;
      line-height: 16px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .header, .Row {
    margin-bottom: 25px;
  }
  ul {
    margin-top: 15px;
    li {
      list-style: none;
      margin-bottom: 5px;
      padding-left: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
