.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $transWhite;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: 150ms;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

#aboutPAGE {
  h5, p {
    width: 320px;
    text-align: left;
    margin-bottom: 25px;
  }
}
