.wrapper#adminLOGIN
  = form_tag('/login', method: 'post', id: 'loginFORM', class: 'flex-c') do
    %img{src: '../images/logo.png', id: 'logo'}
    %h6 Enter your credentials to log in
    .container.flex-c
      .box
        %label.subtitle{for: 'usernameFIELD'} Username
        %input{type: 'text', name: 'username', id: 'usernameFIELD', autocomplete: :off, placeholder: 'username'}
      .box
        %label.subtitle{for: 'passwordFIELD'} Password
        %input{type: 'password', name: 'password', id: 'passwordFIELD', autocomplete: :off, placeholder: 'password'}
    %input{type: 'submit', value: 'LOG IN'}
    %a{href: '/', id: 'homeB'} Back to Home
