bower.json
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
/node_modules
/test
/public/images
/public/uploads
.DS_Store
/app/assets/videos
/config/database.yml
/vendor/cache/
/-backup
/public/.htaccess
