bower.json
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
/node_modules
/test
/public
.DS_Store
/app/assets/images
/app/assets/videos
/config/database.yml
/config/secrets.yml
/vendor/cache/
