//////////////////////////////////////////////////////////////////// herbsINDEX
//-----------------------------------------------------------------------------
#herbsINDEX {
  .toolbar {
    .header, .toolbarB, .sortBUTTONS {
      position: absolute;
      top: 0;
      z-index: 10;
    }
    .header {
      left: 0;
      padding-left: 25px;
    }
    .sortBUTTONS {
      right: 120px;
    }
    .toolbarB {
      right: 0;
    }
  }

  #searchBAR {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding-left: 123px;
    padding-right: 406px;
  }

  .list {
    .buttons {
      a {
        width: 50%;
      }
    }
    .draftStatus {
      display: none;
    }
  }
}

/////////////////////////////////////////////////////////////// categoriesINDEX
//-----------------------------------------------------------------------------
#categoriesINDEX {
  .list {
    .buttons {
      a {
        border-right: 0;
        width: 100%;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////// herbsSHOW
//-----------------------------------------------------------------------------
#herbsSHOW {
  .toolbar {
    .header, .toolbarB, .sortBUTTONS {
      position: absolute;
      top: 0;
      z-index: 10;
    }
    .header {
      left: 0;
      padding-left: 25px;
    }
    .sortBUTTONS {
      right: 120px;
    }
    .toolbarB {
      right: 0;
    }
  }

  #searchBAR {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding-left: 140px;
    padding-right: 406px;
  }

  .list {
    .buttons {
      a {
        width: 50%;
      }
    }
    .draftStatus {
      display: none;
    }
  }

  #userProfile {
    @include flex-c;
    width: 100%;
    margin: 25px 0 10px 0;
    #userAvatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 15px;
      -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 5px 4px rgba(0,0,0,.1);
      -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 5px 4px rgba(0,0,0,.1);
      box-shadow: 0 0 0 3px #fff, 0 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 5px 4px rgba(0,0,0,.1);
    }
    h5 {
      margin-bottom: 5px;
    }
  }
}

///////////////////////////////////////////////////////////////////////// Login
//-----------------------------------------------------------------------------
#loginFORM {
  height: 100%;
  #logo {
    width: 150px;
  }
  #logo, h6 {
    margin-bottom: 25px;
  }
  h6 {
    font-weight: 700;
  }

  .container {
    width: 300px;
    background: white;
    padding: 15px;
    margin-bottom: 25px;
    height: auto;
    .box, input[type="text"], input[type="password"] {
      width: 100%;
    }
    .box {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    input[type="text"], input[type="password"] {
      margin-top: 5px;
      padding: 5px;
      &:focus, &:active {
        border-color: $brandGreen;
      }
    }
  }

  input[type="submit"], #homeB {
    @include subtitle;
    border: 0;
    border-radius: 0;
    background: transparent;
    margin-bottom: 15px;
    &:hover {
      color: $brandGreen;
      text-decoration: underline;
    }
  }
}



















//
