.list {
  display: inline-block;
  padding: 15px;
  width: 100%;
  .herbITEM {
    width: calc(20% - 8px);
    margin-right: 10px;
    list-style: none;
    background: white;
    margin-bottom: 10px;
    float: left;
    border: 1px solid $gray300;
    border-radius: 4px;
    transition: 150ms;
    &:nth-child(5n) {
      margin-right: 0;
    }
    &:hover {
      transition: 150ms;
      background-color: $gray200;
    }
    &.draft {
      border-color: $brandRed;
    }
    a {
      padding: 10px;
    }
  }
}
