#adminINDEX, #adminShowUserHerbs {
  .header {
    width: 120px;
    border-right: 1px solid $gray300;
    height: 100%;
  }
  .toolbar {
    padding-left: 0;
    .toolbarB {
      padding: 0;
    }
  }

  .list {
    .item {
      padding: 10px;
      &:hover {
      }
      .itemLINK {
        padding: 0;
      }
    }
  }
}




















//
