//////////////////////////////////////////////////////////////////////// general
//------------------------------------------------------------------------------
#adminINDEX, #adminNEW, #adminEDIT {
  .console {
    height: 100%;
    width: 100%;
  }

  .form {
    .content {
      position: static;
      left: 0;
    }
  }

  input[type="file"], .categoriesBOX, .draftBOX {
    margin-top: 5px;
  }

  #adminTOOLBAR {
    margin-bottom: 25px;
  }
  #adminTOOLBAR {
    @include display-flex;
    @include flex-row;
    @include flex-middle;
    @include flex-between;
    #adminBUTTONS {
      .button {
        display: inline-block;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////// index
//------------------------------------------------------------------------------
#adminINDEX {
  #searchCONTAINER {
    margin-bottom: 25px;
  }
}

//////////////////////////////////////////////////////////////////////////// new
//------------------------------------------------------------------------------
#adminNEW, #adminEDIT {
  #panels {
    @include display-flex;
    width: 1024px;
  }

  #leftPANEL, #rightPANEL {
    width: 499.5px;
    height: 568px;
  }
  #leftPANEL {
    margin-right: 12.5px;
  }
  #rightPANEL {
    overflow-y: scroll;
  }

  .categoriesBOX, .draftBOX {
    width: 100%;
    .checkboxROW {
      display: inline-block;
      label {
        display: inline-block;
        float: left;
        margin-right: 5px;
        font-size: 12px;
        line-height: 14px;
        float: left;
        cursor: pointer;
        border: 1px solid $gray300;
        padding: 5px 8px;
        transition: 150ms;
        &:hover {
          background: $gray200;
        }
      }
      .checkbox, .radio {
        display: none;
        &:checked {
          + label {
            background: $gray200;
          }
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////// edit
//------------------------------------------------------------------------------
#adminEDIT {

}















//
