#herbLIST
  = render 'shared/search'
  %ul.list
    - @herbs.each_with_index do |herb|
      %li.herbITEM{class: herb.draft_status == 'draft' ? 'draft' : ''}
        %a{href: "/admin/edit/#{herb.slug}"}
          .herbItemINFO
            %p.herbName= herb.name
            %p.herbLatinName= herb.latin_name
