#nav
  %a{class: 'navB', href: '/admin'} Home
  %a{class: 'navB', href: '/admin/new-herb'} New Herb
  %a{class: 'navB', href: '/'} View Website
  = form_tag('/logout', method: 'delete') do
    %input{type: 'submit', value: 'Logout', class: 'navB', id: 'logoutB'}
