.wrapper#herbsSHOW
  .container
    = render 'admin/nav'
    = render 'admin/toolbar', page: 'herbsSHOW', header: "User's Herbs"
    .content
      = render 'admin/userPROFILE'
      = render 'admin/herbLIST'
