.wrapper#adminINDEX
  .console
    .content
      #adminTOOLBAR
        %h5 ALL HERBS
        #adminBUTTONS
          %a{class: 'button', href: '/admin'} Admin
          %a{class: 'button', href: '/admin/new-herb'} New Herb
          %a{class: 'button', href: '/'} View Website
          = form_tag('/logout', method: 'delete', class: 'button') do
            %input{type: 'submit', value: 'Logout'}
      = render 'admin/herbLIST'
