sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

html {
  font-family: sans-serif; }
  html input[type="button"] {
    cursor: pointer; }
  html input[disabled] {
    cursor: default; }

body {
  margin: 0; }

article {
  display: block; }

aside {
  display: block; }

details {
  display: block; }

figcaption {
  display: block; }

figure {
  display: block;
  margin: 1em 40px; }

footer {
  display: block; }

header {
  display: block; }

hgroup {
  display: block; }

main {
  display: block; }

menu {
  display: block; }

nav {
  display: block; }

section {
  display: block; }

summary {
  display: block; }

audio {
  display: inline-block;
  vertical-align: baseline; }
  audio:not([controls]) {
    display: none;
    height: 0; }

canvas {
  display: inline-block;
  vertical-align: baseline; }

progress {
  display: inline-block;
  vertical-align: baseline; }

video {
  display: inline-block;
  vertical-align: baseline; }

[hidden] {
  display: none; }

template {
  display: none; }

a {
  background-color: transparent; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b {
  font-weight: bold; }

strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border: 0; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto;
  font-family: monospace, monospace;
  font-size: 1em; }

code {
  font-family: monospace, monospace;
  font-size: 1em; }

kbd {
  font-family: monospace, monospace;
  font-size: 1em; }

samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button {
  overflow: visible;
  text-transform: none;
  cursor: pointer; }

input {
  line-height: normal; }

optgroup {
  font-weight: bold; }

select {
  text-transform: none; }

textarea {
  overflow: auto; }

input[type="reset"] {
  cursor: pointer; }

input[type="submit"] {
  cursor: pointer; }

button[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button {
  height: auto; }

input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  box-sizing: content-box; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  padding: 0; }

th {
  padding: 0; }

svg:not(:root) {
  overflow: hidden; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 1;
  background: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  overflow: hidden; }

body {
  overflow-y: scroll; }

input, textarea {
  outline: none;
  padding: 0; }

textarea {
  resize: none; }

p, h1, h2, h3, h4, h5, h6, ul, li, div, a, section {
  margin: 0;
  padding: 0;
  font-family: "Quattrocento Sans", sans-serif, monospace;
  font-weight: 400;
  color: #424242;
  box-sizing: border-box; }

a {
  display: block; }

img, input, textarea, form {
  box-sizing: border-box;
  display: block; }

h1 {
  font-size: 36px;
  line-height: 32px; }

h2 {
  font-size: 30px;
  line-height: 32px; }

h3 {
  font-size: 45px;
  line-height: 47px; }

h4 {
  font-size: 30px;
  line-height: 32px; }

h5 {
  font-size: 20px;
  line-height: 22px; }

h6 {
  font-size: 18px;
  line-height: 20px; }

p, li, a, div {
  font-size: 16px;
  line-height: 18px; }

a {
  text-decoration: none;
  cursor: pointer;
  transition: 250ms; }
  a:hover {
    transition: 250ms; }

.flex-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }

.flex-r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }

.col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start; }

.middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }

.bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end; }

.self-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.self-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.wrapper, .console, .content {
  position: relative;
  height: 100%;
  overflow: hidden; }

.wrapper {
  z-index: 1; }

.console {
  z-index: 2;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  top: 25px;
  left: 25px;
  border: 1px solid #E0E0E0; }

.content {
  z-index: 3; }

input[type="text"], textarea {
  border: 1px solid #E0E0E0; }

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  line-height: 18px;
  width: 250px;
  margin-top: 5px; }

input[type="submit"] {
  border: 0;
  border-radius: 0;
  padding: 10px 15px;
  background: #E0E0E0;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  transition: 150ms; }
  input[type="submit"]:hover {
    background: #A5D6A7; }

textarea {
  width: 100%;
  height: 300px;
  margin-top: 5px; }

#flashNOTICE {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: black;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: 250ms; }
  #flashNOTICE.activeFlashNOTICE {
    opacity: 1;
    visibility: visible; }
  #flashNOTICE p {
    color: white;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase; }
  #flashNOTICE .countdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    display: none;
    position: absolute;
    right: 25px;
    bottom: 0;
    height: 100%;
    width: 25px;
    color: white; }

.subtitle {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700; }

#logo {
  display: none;
  position: absolute;
  bottom: -10%;
  left: -10%;
  width: 40%;
  margin-right: 10px;
  opacity: 0.05; }

#loginB, #adminTOOLBAR {
  position: absolute;
  bottom: 0;
  right: 25px;
  height: 25px; }

#loginB, #logoutB {
  cursor: pointer;
  opacity: 0.5;
  font-size: 10px;
  line-height: 12px;
  background: transparent;
  color: black;
  padding: 0;
  transition: 150ms; }
  #loginB:hover, #logoutB:hover {
    transition: 150ms;
    text-decoration: underline;
    opacity: 1; }

#adminTOOLBAR div {
  font-size: 10px;
  line-height: 12px;
  margin-right: 15px;
  cursor: pointer; }
  #adminTOOLBAR div:hover {
    text-decoration: underline; }

#loginFORM {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.97);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 150ms; }
  #loginFORM.active {
    transition: 150ms;
    opacity: 1;
    visibility: visible; }
  #loginFORM input[type="text"], #loginFORM input[type="password"] {
    font-size: 12px;
    line-height: 12px;
    border: 1px solid #BDBDBD;
    padding: 5px;
    margin-top: 5px;
    width: 200px;
    transition: 150ms; }
    #loginFORM input[type="text"]:focus, #loginFORM input[type="password"]:focus {
      transition: 150ms;
      border-color: black; }
  #loginFORM input[type="submit"] {
    border: 0;
    border-radius: 0;
    font-size: 12px;
    line-height: 12px;
    padding: 10px 16px;
    color: white;
    background: black; }
    #loginFORM input[type="submit"]:hover {
      text-decoration: underline; }
  #loginFORM .container {
    width: 320px;
    height: 568px;
    border-radius: 2px;
    background: white;
    padding: 25px;
    border: 1px solid #EEEEEE;
    overflow-y: scroll; }
  #loginFORM .box {
    margin-bottom: 15px; }
  #loginFORM .cancelB {
    font-size: 12px;
    line-height: 14px; }
  #loginFORM .cancelB {
    cursor: pointer;
    opacity: 0.5;
    transition: 150ms; }
    #loginFORM .cancelB:hover {
      transition: 150ms;
      opacity: 1; }

#loginFORM .box:nth-child(2) {
  margin-bottom: 25px; }

#nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50px;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  z-index: 1000;
  background: #F5F5F5; }
  #nav .navB {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid #E0E0E0;
    padding: 0 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px; }
    #nav .navB.highlightB {
      background: #C8E6C9; }
    #nav .navB:hover {
      background: white; }
    #nav .navB:last-child {
      margin-right: 0; }
  #nav .shareB {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    width: 50px; }
    #nav .shareB img {
      width: 19px;
      opacity: 0.7; }

#leftPANEL, #rightPANEL {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 10; }

#leftPANEL {
  padding-top: 50px;
  padding-bottom: 10px;
  border-right: 1px solid #E0E0E0;
  overflow-y: scroll; }
  #leftPANEL .title {
    display: none;
    padding: 0 10px;
    margin-bottom: 10px;
    text-transform: uppercase; }

#rightPANEL {
  background: white; }
  #rightPANEL.active #editHerbB {
    opacity: 1;
    visibility: visible; }

#closeB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  border-left: 1px solid #E0E0E0;
  transition: 150ms; }
  #closeB.active {
    opacity: 1;
    visibility: visible;
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
    #closeB.active img {
      opacity: 1; }
  #closeB:hover {
    transition: 150ms;
    background: #F5F5F5; }
  #closeB img {
    width: 20px;
    height: 20px;
    opacity: 0.3;
    transition: 150ms; }

#editHerbB {
  display: none; }

#herbPAGE #herbPANEL p, #herbPAGE #herbPANEL h1, #herbPAGE #herbPANEL h2, #herbPAGE #herbPANEL h3, #herbPAGE #herbPANEL h4, #herbPAGE #herbPANEL h5, #herbPAGE #herbPANEL h6, #herbPAGE #herbPANEL ul, #herbPAGE #herbPANEL li, #herbPAGE #herbPANEL div, #herbPAGE #herbPANEL a, #herbPAGE #herbPANEL section, .previewCONTAINER p, .previewCONTAINER h1, .previewCONTAINER h2, .previewCONTAINER h3, .previewCONTAINER h4, .previewCONTAINER h5, .previewCONTAINER h6, .previewCONTAINER ul, .previewCONTAINER li, .previewCONTAINER div, .previewCONTAINER a, .previewCONTAINER section {
  font-family: "Quattrocento", serif, monospace;
  color: black; }

#herbPAGE #herbPANEL a, .previewCONTAINER a {
  display: inline-block;
  color: #1565C0; }
  #herbPAGE #herbPANEL a:hover, .previewCONTAINER a:hover {
    text-decoration: underline; }

#herbPAGE #herbPANEL p, .previewCONTAINER p {
  margin-bottom: 10px; }

#herbPAGE #herbPANEL h3, .previewCONTAINER h3 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 5px; }

#herbPAGE #herbPANEL h6, .previewCONTAINER h6 {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600; }

#herbPAGE #herbPANEL ul, #herbPAGE #herbPANEL ol, .previewCONTAINER ul, .previewCONTAINER ol {
  padding-left: 15px; }

#herbPAGE #herbPANEL ol li, .previewCONTAINER ol li {
  word-break: break-all; }

#herbPAGE #herbPANEL ol li, #herbPAGE #herbPANEL ol a, .previewCONTAINER ol li, .previewCONTAINER ol a {
  font-size: 12px;
  line-height: 14px; }

#herbPAGE #herbPANEL #description, #herbPAGE #herbPANEL .editInformationPREVIEW, .previewCONTAINER #description, .previewCONTAINER .editInformationPREVIEW {
  margin-top: 12.5px; }

#herbPAGE #herbPANEL #herbNAME, #herbPAGE #herbPANEL .editNamePREVIEW, #herbPAGE #herbPANEL .newNamePREVIEW, .previewCONTAINER #herbNAME, .previewCONTAINER .editNamePREVIEW, .previewCONTAINER .newNamePREVIEW {
  font-size: 24px;
  line-height: 26px; }

#herbPAGE #herbPANEL #herbLatinNAME, #herbPAGE #herbPANEL .editLatinNamePREVIEW, #herbPAGE #herbPANEL .newLatinNamePREVIEW, .previewCONTAINER #herbLatinNAME, .previewCONTAINER .editLatinNamePREVIEW, .previewCONTAINER .newLatinNamePREVIEW {
  font-style: italic; }

#herbPAGE #herbPANEL .glance, .previewCONTAINER .glance {
  background: #F5F5F5;
  position: relative;
  width: calc(100% + 50px);
  left: -25px;
  padding: 25px;
  padding-bottom: 20px; }
  #herbPAGE #herbPANEL .glance > ul, .previewCONTAINER .glance > ul {
    display: inline-block;
    padding: 0;
    padding: 0 25px;
    position: relative;
    left: -25px;
    width: calc(100% + 50px); }
    #herbPAGE #herbPANEL .glance > ul li, .previewCONTAINER .glance > ul li {
      width: 33.333%;
      float: left;
      list-style: none;
      font-weight: 700; }
      #herbPAGE #herbPANEL .glance > ul li ul, .previewCONTAINER .glance > ul li ul {
        display: inline-block;
        width: 100%;
        padding: 0;
        margin-bottom: 5px; }
        #herbPAGE #herbPANEL .glance > ul li ul li, .previewCONTAINER .glance > ul li ul li {
          font-weight: 400;
          width: 100%; }

.summary p:last-child {
  margin-bottom: 0; }

#herbPAGE #editHerbB {
  display: block; }

#herbPAGE #herbPANEL {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 100;
  background: white;
  padding: 25px;
  transition: 150ms; }

#herbLIST {
  padding: 0 10px;
  display: inline-block;
  width: 100%; }
  #herbLIST .herbITEM {
    cursor: pointer;
    display: inline-block;
    position: relative;
    float: left;
    width: calc(33.333% - 6.6667px);
    margin-right: 10px;
    margin-bottom: 10px; }
    #herbLIST .herbITEM:hover {
      text-decoration: underline; }
    #herbLIST .herbITEM:nth-child(3n) {
      margin-right: 0; }
    #herbLIST .herbITEM.draftHerbITEM .draftCOVER {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(250, 250, 250, 0.95);
      border: 5px solid #E0E0E0;
      transition: 250ms; }
      #herbLIST .herbITEM.draftHerbITEM .draftCOVER:hover {
        transition: 250ms;
        background: white; }
      #herbLIST .herbITEM.draftHerbITEM .draftCOVER .draftTITLE {
        font-size: 20px;
        line-height: 22px;
        font-weight: 700;
        margin-bottom: 15px;
        padding-bottom: 15px;
        width: 80%;
        border-bottom: 1px solid #BDBDBD;
        text-align: center; }
      #herbLIST .herbITEM.draftHerbITEM .draftCOVER p:last-child {
        font-style: italic;
        font-size: 12px;
        line-height: 14px; }
    #herbLIST .herbITEM .herbIMG {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/preloader.svg");
      background-size: 75px;
      width: 100%;
      padding-top: 100%; }
    #herbLIST .herbITEM .herbItemINFO {
      background: white;
      padding: 10px; }
      #herbLIST .herbITEM .herbItemINFO p {
        color: black; }
        #herbLIST .herbITEM .herbItemINFO p:last-child {
          font-style: italic;
          font-size: 80%; }

#editHerbB {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1000;
  padding: 8px 15px;
  background: #F44336;
  color: white;
  cursor: pointer;
  transition: 150ms; }
  #editHerbB:hover {
    transition: 150ms;
    background: #D32F2F; }

#newHerbPANEL, #editHerbPANEL {
  position: absolute;
  top: 25px;
  left: 25px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  background: #F5F5F5;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 150ms; }
  #newHerbPANEL.active, #editHerbPANEL.active {
    opacity: 1;
    visibility: visible; }
  #newHerbPANEL .inputCONTAINER, #newHerbPANEL .previewCONTAINER, #editHerbPANEL .inputCONTAINER, #editHerbPANEL .previewCONTAINER {
    position: absolute;
    top: 0;
    height: 100%;
    border: 1px solid #E0E0E0; }
  #newHerbPANEL .inputCONTAINER, #editHerbPANEL .inputCONTAINER {
    padding-top: 0;
    left: 0;
    width: 50%;
    overflow: hidden; }
    #newHerbPANEL .inputCONTAINER .section, #editHerbPANEL .inputCONTAINER .section {
      display: inline-block;
      width: 100%;
      margin-bottom: 25px;
      padding: 0 25px; }
      #newHerbPANEL .inputCONTAINER .section .box, #editHerbPANEL .inputCONTAINER .section .box {
        float: left;
        margin-right: 25px; }
    #newHerbPANEL .inputCONTAINER .subtitle, #editHerbPANEL .inputCONTAINER .subtitle {
      margin-bottom: 5px; }
    #newHerbPANEL .inputCONTAINER input[type="text"], #newHerbPANEL .inputCONTAINER input[type="password"], #newHerbPANEL .inputCONTAINER input[type="file"], #editHerbPANEL .inputCONTAINER input[type="text"], #editHerbPANEL .inputCONTAINER input[type="password"], #editHerbPANEL .inputCONTAINER input[type="file"] {
      font-size: 12px;
      line-height: 12px;
      border: 1px solid #E0E0E0;
      padding: 5px;
      font-family: monospace;
      width: 200px;
      margin-top: 5px;
      transition: 150ms; }
      #newHerbPANEL .inputCONTAINER input[type="text"]:focus, #newHerbPANEL .inputCONTAINER input[type="password"]:focus, #newHerbPANEL .inputCONTAINER input[type="file"]:focus, #editHerbPANEL .inputCONTAINER input[type="text"]:focus, #editHerbPANEL .inputCONTAINER input[type="password"]:focus, #editHerbPANEL .inputCONTAINER input[type="file"]:focus {
        transition: 150ms;
        border-color: black; }
    #newHerbPANEL .inputCONTAINER .informationSECTION, #editHerbPANEL .inputCONTAINER .informationSECTION {
      padding: 0;
      height: calc(100% - 50px);
      overflow: hidden; }
      #newHerbPANEL .inputCONTAINER .informationSECTION textarea, #editHerbPANEL .inputCONTAINER .informationSECTION textarea {
        width: calc(100% + 25px);
        height: 100%;
        padding: 25px;
        padding-right: 50px;
        border: 0;
        font-size: 14px;
        line-height: 16px;
        font-family: monospace; }
  #newHerbPANEL .previewCONTAINER, #editHerbPANEL .previewCONTAINER {
    left: 50%;
    width: calc(50% + 25px);
    padding: 25px;
    padding-right: 50px;
    background: white;
    overflow-y: scroll;
    border-left: 0; }
  #newHerbPANEL .formTOOLBAR, #editHerbPANEL .formTOOLBAR {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E0E0E0;
    background: #F5F5F5;
    z-index: 100;
    position: relative; }
    #newHerbPANEL .formTOOLBAR .saveB, #newHerbPANEL .formTOOLBAR .cancelB, #newHerbPANEL .formTOOLBAR .editInfoB, #newHerbPANEL .formTOOLBAR .newInfoB, #newHerbPANEL .formTOOLBAR .draftB, #editHerbPANEL .formTOOLBAR .saveB, #editHerbPANEL .formTOOLBAR .cancelB, #editHerbPANEL .formTOOLBAR .editInfoB, #editHerbPANEL .formTOOLBAR .newInfoB, #editHerbPANEL .formTOOLBAR .draftB {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      border: 0;
      background: transparent;
      border-radius: 0;
      font-size: 12px;
      line-height: 14px;
      padding: 0px 25px;
      cursor: pointer;
      border-left: 1px solid #E0E0E0;
      transition: 150ms; }
      #newHerbPANEL .formTOOLBAR .saveB:hover, #newHerbPANEL .formTOOLBAR .cancelB:hover, #newHerbPANEL .formTOOLBAR .editInfoB:hover, #newHerbPANEL .formTOOLBAR .newInfoB:hover, #newHerbPANEL .formTOOLBAR .draftB:hover, #editHerbPANEL .formTOOLBAR .saveB:hover, #editHerbPANEL .formTOOLBAR .cancelB:hover, #editHerbPANEL .formTOOLBAR .editInfoB:hover, #editHerbPANEL .formTOOLBAR .newInfoB:hover, #editHerbPANEL .formTOOLBAR .draftB:hover {
        transition: 150ms;
        background: white; }
    #newHerbPANEL .formTOOLBAR .draftB, #editHerbPANEL .formTOOLBAR .draftB {
      position: relative;
      background: #FFCDD2;
      width: 85px;
      transition: 150ms; }
      #newHerbPANEL .formTOOLBAR .draftB:hover:before, #editHerbPANEL .formTOOLBAR .draftB:hover:before {
        transition: 250ms;
        opacity: 1; }
      #newHerbPANEL .formTOOLBAR .draftB:before, #editHerbPANEL .formTOOLBAR .draftB:before {
        content: '';
        width: 2px;
        height: 100%;
        background: #BDBDBD;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 150ms; }
      #newHerbPANEL .formTOOLBAR .draftB:after, #editHerbPANEL .formTOOLBAR .draftB:after {
        content: 'DRAFT'; }
      #newHerbPANEL .formTOOLBAR .draftB.live, #editHerbPANEL .formTOOLBAR .draftB.live {
        background: #C8E6C9; }
        #newHerbPANEL .formTOOLBAR .draftB.live:hover, #editHerbPANEL .formTOOLBAR .draftB.live:hover {
          background: white; }
        #newHerbPANEL .formTOOLBAR .draftB.live:before, #editHerbPANEL .formTOOLBAR .draftB.live:before {
          left: 100%; }
        #newHerbPANEL .formTOOLBAR .draftB.live:after, #editHerbPANEL .formTOOLBAR .draftB.live:after {
          content: 'LIVE'; }
    #newHerbPANEL .formTOOLBAR .editInfoB, #newHerbPANEL .formTOOLBAR .newInfoB, #editHerbPANEL .formTOOLBAR .editInfoB, #editHerbPANEL .formTOOLBAR .newInfoB {
      position: absolute;
      top: 0;
      left: 0;
      height: 49px;
      border-left: 0;
      border-right: 1px solid #E0E0E0; }
      #newHerbPANEL .formTOOLBAR .editInfoB.active, #newHerbPANEL .formTOOLBAR .newInfoB.active, #editHerbPANEL .formTOOLBAR .editInfoB.active, #editHerbPANEL .formTOOLBAR .newInfoB.active {
        background: white; }
  #newHerbPANEL .formGeneralINFO, #editHerbPANEL .formGeneralINFO {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 50;
    padding-top: 25px;
    background: #F5F5F5;
    border-bottom: 1px solid #E0E0E0;
    -moz-transform: translateY(-120%);
    -o-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
    transition: 150ms; }
    #newHerbPANEL .formGeneralINFO.active, #editHerbPANEL .formGeneralINFO.active {
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    #newHerbPANEL .formGeneralINFO .categoriesBOX, #editHerbPANEL .formGeneralINFO .categoriesBOX {
      width: 100%; }
      #newHerbPANEL .formGeneralINFO .categoriesBOX .checkboxROW, #editHerbPANEL .formGeneralINFO .categoriesBOX .checkboxROW {
        display: inline-block; }
        #newHerbPANEL .formGeneralINFO .categoriesBOX .checkboxROW label, #editHerbPANEL .formGeneralINFO .categoriesBOX .checkboxROW label {
          display: inline-block;
          float: left;
          margin-right: 5px;
          font-size: 12px;
          line-height: 14px;
          float: left;
          cursor: pointer;
          border: 1px solid #E0E0E0;
          padding: 10px;
          transition: 150ms; }
          #newHerbPANEL .formGeneralINFO .categoriesBOX .checkboxROW label:hover, #editHerbPANEL .formGeneralINFO .categoriesBOX .checkboxROW label:hover {
            background: white; }
        #newHerbPANEL .formGeneralINFO .categoriesBOX .checkboxROW input[type="checkbox"], #editHerbPANEL .formGeneralINFO .categoriesBOX .checkboxROW input[type="checkbox"] {
          display: none; }
          #newHerbPANEL .formGeneralINFO .categoriesBOX .checkboxROW input[type="checkbox"]:checked + label, #editHerbPANEL .formGeneralINFO .categoriesBOX .checkboxROW input[type="checkbox"]:checked + label {
            background: white; }

#editHerbPANEL {
  /*opacity: 1;
  visibility: visible;*/ }

.page #leftPANEL {
  padding: 25px;
  padding-top: 75px; }

#aboutPAGE #rightPANEL img, #contributePAGE #rightPANEL img {
  height: 60%;
  margin-bottom: 15px; }

#aboutPAGE #rightPANEL a, #contributePAGE #rightPANEL a {
  font-style: italic;
  font-size: 14px;
  line-height: 16px; }
  #aboutPAGE #rightPANEL a:hover, #contributePAGE #rightPANEL a:hover {
    text-decoration: underline; }

#aboutPAGE .header, #aboutPAGE .Row, #contributePAGE .header, #contributePAGE .Row {
  margin-bottom: 25px; }

#aboutPAGE ul, #contributePAGE ul {
  margin-top: 15px; }
  #aboutPAGE ul li, #contributePAGE ul li {
    list-style: none;
    margin-bottom: 5px;
    padding-left: 25px; }
    #aboutPAGE ul li:last-child, #contributePAGE ul li:last-child {
      margin-bottom: 0; }

#aboutPAGE ol, #contributePAGE ol {
  padding-left: 15px; }

#contributePAGE form {
  margin-top: 25px; }

#contributePAGE textarea {
  height: 600px; }

#categoryLIST {
  padding: 10px;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #E0E0E0;
  position: relative; }

#categoryListTOGGLE {
  display: none; }

.categoryPANEL .categoryIMG {
  width: 250px;
  opacity: 0.8;
  margin-bottom: 25px; }

.categoryPANEL h5 {
  text-transform: uppercase; }

.categoryTILE {
  width: calc(20% - 8px);
  margin-right: 10px;
  float: left;
  padding-top: calc(20% - 8px);
  border: 1px solid #E0E0E0;
  background: #F5F5F5;
  position: relative;
  transition: 150ms; }
  .categoryTILE:hover {
    transition: 150ms;
    background: white; }
  .categoryTILE:nth-child(5n) {
    margin-right: 0; }
  .categoryTILE:nth-child(n + 6) {
    margin-top: 10px; }
  .categoryTILE.active {
    background: white; }
  .categoryTILE div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .categoryTILE div img {
      width: 30px;
      opacity: 0.75;
      margin-bottom: 15px; }
  .categoryTILE p {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 0 10px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    transition: 250ms; }

@media only screen and (min-width: 771px) and (max-width: 1150px) {
  .categoryTILE {
    width: calc(33.333% - 6.66667px);
    padding-top: calc(33.333% - 6.66667px); }
    .categoryTILE:nth-child(5n) {
      margin-right: 10px; }
    .categoryTILE:nth-child(3n) {
      margin-right: 0; }
    .categoryTILE:nth-child(n + 4) {
      margin-top: 10px; }
    .categoryTILE div img {
      margin-bottom: 5px; } }

@media only screen and (max-width: 770px) {
  #nav {
    width: 100%;
    border-right: 0; }
  #logo {
    width: 80%; }
  #leftPANEL, #rightPANEL {
    width: 100%;
    float: none; }
  #leftPANEL {
    border-right: 0; }
    #leftPANEL .title {
      display: block; }
  #categoryPAGE #rightPANEL {
    display: none; }
  #categoryListTOGGLE {
    display: block;
    position: absolute;
    top: -30px;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #E0E0E0; }
    #categoryListTOGGLE.active p {
      opacity: 0; }
    #categoryListTOGGLE.active img {
      opacity: 1; }
    #categoryListTOGGLE p {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      opacity: 1; }
    #categoryListTOGGLE img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 15px;
      opacity: 0; }
  #herbPAGE #leftPANEL {
    overflow-y: hidden;
    padding-bottom: 0;
    height: 0; }
    #herbPAGE #leftPANEL.active {
      height: auto; }
      #herbPAGE #leftPANEL.active #categoryLIST {
        margin-top: 0; }
    #herbPAGE #leftPANEL #categoryLIST {
      margin-top: -200px;
      margin-bottom: 0;
      transition: 150ms; }
    #herbPAGE #leftPANEL .title {
      display: none; }
  #herbPAGE #rightPANEL {
    height: calc(100% - 30px);
    z-index: 100;
    transition: 150ms; }
    #herbPAGE #rightPANEL.active {
      visibility: visible;
      margin-top: 30px;
      height: calc(100% - 60px); }
    #herbPAGE #rightPANEL #selectIND {
      display: none; }
  #herbPAGE #herbLIST {
    display: none; } }

@media only screen and (max-width: 737px) {
  #logo {
    width: 50%;
    bottom: -20%;
    left: -10%; }
  #nav {
    height: 30px; }
    #nav .shareB {
      width: 30px; }
      #nav .shareB img {
        width: 12px; }
  #closeB {
    height: 30px;
    width: 30px; }
    #closeB img {
      width: 12px; }
  .categoryTILE p {
    font-size: 10px;
    line-height: 12px; }
  #leftPANEL {
    padding: 30px 30px 0 0;
    width: calc(100% + 30px); }
  #herbPAGE #rightPANEL #herbPANEL {
    padding: 15px;
    width: calc(100% + 30px);
    padding-right: 45px; }
    #herbPAGE #rightPANEL #herbPANEL section {
      margin-bottom: 15px; }
      #herbPAGE #rightPANEL #herbPANEL section:last-child {
        margin-bottom: 0; }
  .page #leftPANEL {
    padding: 45px 45px 15px 15px; } }

@media only screen and (max-width: 415px) {
  #logo {
    width: 80%;
    bottom: -10%;
    left: -10%; }
  .console {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 15px;
    left: 15px; }
  #loginB, #adminTOOLBAR {
    display: none; }
  #herbLIST .herbITEM {
    width: calc(50% - 5px);
    margin-bottom: 10px;
    margin-right: 10px; }
    #herbLIST .herbITEM:nth-child(3n) {
      margin-right: 10px; }
    #herbLIST .herbITEM:nth-child(2n) {
      margin-right: 0; }
    #herbLIST .herbITEM .herbItemINFO p:first-child {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 2px; }
    #herbLIST .herbITEM .herbItemINFO p:last-child {
      font-size: 10px;
      line-height: 12px; }
  .categoryTILE {
    width: calc(33.333% - 6.66667px);
    padding-top: calc(33.333% - 6.66667px); }
    .categoryTILE:nth-child(5n) {
      margin-right: 10px; }
    .categoryTILE:nth-child(3n) {
      margin-right: 0; }
    .categoryTILE:nth-child(n + 4) {
      margin-top: 10px; }
    .categoryTILE div img {
      margin-bottom: 5px; } }
