-# ////////////////////////////////////////////////////////////////// searchBAR
#searchCONTAINER
  %input{id: 'searchBAR', type: 'text', autocomplete: :off, placeholder: 'search for an herb...'}
  .navB#herbSearchCloseB{data:{tooltip:'Cancel Searching'}}
    %img{src: "#{public_path}/images/icons/close_icon_black.svg"}
    %p Cancel

-# ///////////////////////////////////////////////////////////////// navBUTTONS
#navBUTTONS
  %a.navB#homeB{href: '/', data:{tooltip: 'Back to Home'}}
    %img{src: "#{public_path}/images/logo.png"}
    %p Home
  %a.navB#aboutB{href: '/about', data:{tooltip: 'Learn About Us'}}
    %img{src: "#{public_path}/images/icons/plant_icon_black.svg"}
    %p About
  -# %a.navB#contributeB{href: '/', data:{tooltip: 'Contribute Some Knowledge'}}
  -#   %img{src: "#{public_path}/images/icons/plant_icon_black.svg"}
  -#   %p Contribute
  -# %li.navB#pinterestB
  -#   %a{href: 'https://www.pinterest.com/herbalrepo/', target: '_blank'}
  -#     %img{src: '../images/icons/pinterest_icon_black.svg'}
