%nav#nav
  %ul#navButtons
    %li
      %a{href: "/"} Home
    %li
      %a{href: "/about"} About
    %li
      %a{href: "/contribute"} Contribute
    %li
      %a{href: 'https://www.pinterest.com/herbalrepo/', target: '_blank', class: 'navB shareB'}
        %img{src: '../images/icons/pinterest_icon_black.svg'}
  %ul#navCategories
    - @categories.each do |category|
      %li{class: "navCategoryTILE #{session[:current_category] == category.name.downcase ? 'active' : ''}", data:{category: category.name.downcase}}
        %a{href: "/category/#{category.slug}"}
          %img{src: "../images/icons/#{strip_string(category.name.downcase)}_icon_black.svg"}
          %p= category.name
