////////////////////////////////////////////////////////////////////// Framework
//------------------------------------------------------------------------------
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 1;
  background: $gray50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

/////////////////////////////////////////////////////////////////////////// Text
//------------------------------------------------------------------------------
input, textarea { outline: none; padding: 0; }
textarea { resize: none; }

p, h1, h2, h3, h4, h5, h6, ul, li, div, a, section {
  margin: 0;
  padding: 0;
  font-family: $font1;
  font-weight: 400;
  color: $gray800;
  box-sizing: border-box;
}

a { display: block; }
img, input, textarea, form, label { box-sizing: border-box; display: block; }

h1 { font-size: 36px; line-height: 32px; }
h2 { font-size: 30px; line-height: 32px; }
h3 { font-size: 45px; line-height: 47px; }
h4 { font-size: 30px; line-height: 32px; }
h5 { font-size: 20px; line-height: 22px; }
h6 { font-size: 18px; line-height: 20px; }
p, li, a, div { font-size: 16px; line-height: 18px; }
a {
  text-decoration: none;
  cursor: pointer;
  transition: 250ms;
  &:hover {
    transition: 250ms;
  }
}

///////////////////////////////////////////////////////////////// Flex structure
//------------------------------------------------------------------------------
.flex-c { @include display-flex; @include flex-column; @include flex-no-wrap; @include flex-center; @include flex-middle; }
.flex-r { @include display-flex; @include flex-row; @include flex-no-wrap; @include flex-center; @include flex-middle; }
.col { @include display-flex; @include flex-column; @include flex-no-wrap; }
.row { @include display-flex; @include flex-row; @include flex-no-wrap; }
.wrap { @include flex-wrap; }
////////////////////////////////////////////////////////// [justify] positioning
.start { @include flex-start; }
.center { @include flex-center; }
.end { @include flex-end; }
//////////////////////////////////////////////////////////// [align] positioning
.top { @include flex-top; }
.middle { @include flex-middle; }
.bottom { @include flex-bottom; }
.self-start { @include self-start; }
.self-end { @include self-end; }
//////////////////////////////////////////////////////////////////////// spacing
.between { @include flex-between; }

/////////////////////////////////////////////////////////////////////// Elements
//------------------------------------------------------------------------------

//////////////////////////////////////////////////////////// Structural elements
//------------------------------------------------------------------------------
.wrapper, .console, .content {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  z-index: 1;
  &.minimized {
    .console {
      height: calc(100% - 100px);
    }
    #nav {
      height: 100px;
      #navCategories {
        height: 50px;
        li {
          img {
            @include transform(translateY(5px));
            margin: 0;
            transition: 150ms;
          }
          a {
            p {
              @include transform(translateY(-15px));
              opacity: 0;
              transition: 150ms;
            }
          }
        }
      }
    }
  }
}

.console {
  z-index: 2;
  width: calc(100% + 25px);
  height: calc(100% - 150px);
  padding-top: 25px;
  overflow-y: scroll;
  transition: 150ms;
}

.content {
  z-index: 3;
  width: 512px;
  height: auto;
  left: calc(50% - 512px/2 - 12.5px);
}

input[type="text"], textarea {
  border: 1px solid $gray300;
  padding: 10px;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  line-height: 18px;
  width: 250px;
  margin-top: 5px;
}

input[type="submit"] {
  border: 0;
  border-radius: 0;
  background: transparent;
  font-size: inherit;
  font-weight: inherit;
}

.subtitle {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
}

.button {
  padding: 8px 12px;
  background: white;
  border-radius: 4px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 150ms;
  &:hover, &:active, &:focus {
    transition: 150ms;
    background-color: $brandGreen;
    color: white;
  }
}

.card {
  padding: 15px;
  border-radius: 4px;
  background: white;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 1px 2px $boxShadowColour;
  -moz-box-shadow: 0 2px 1px $boxShadowColour;
  box-shadow: 0 2px 1px $boxShadowColour;
}

@include placeholder {
  opacity: 1;
  font-style: italic;
  color: $gray500;
}

///////////////////////////////////////////////////////////////// Other elements
//------------------------------------------------------------------------------
#nav {
  width: 100%;
  height: 150px;
  position: relative;
  z-index: 10;
  transition: 150ms;
  #navButtons, #navCategories {
    @include display-flex;
    @include flex-row;
    @include flex-center;
    position: relative;
    border-bottom: 1px solid $gray300;
    width: 100%;
    li {
      list-style: none;
      transition: 150ms;
      &:hover, &.active {
        transition: 150ms;
      }
    }
  }
  #navButtons {
    height: 50px;
    background: $gray50;
    li {
      &:hover, &.active {
        background-color: white;
      }
      a {
        @include flex-c;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 18px;
        padding: 0 20px;
      }
      .shareB {
        @include flex-c;
        width: 50px;
        img {
          width: 19px;
          opacity: 0.7;
        }
      }
    }
  }
  #navCategories {
    height: 100px;
    background-color: white;
    transition: 150ms;
    li {
      width: 105px;
      height: 100%;
      position: relative;
      &:hover, &.active {
        &:after {
          transition: 150ms;
          height: 2px;
        }
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: $brandGreen;
      }
      a {
        @include flex-c;
        width: 100%;
        height: 100%;
        img {
          width: 30px;
          margin-bottom: 10px;
          transition: 150ms;
        }
        p {
          text-transform: uppercase;
          text-align: center;
          font-size: 12px;
          line-height: 14px;
          font-weight: 700;
          transition: 150ms;
        }
      }
    }
  }
}

#searchCONTAINER, #logoCONTAINER {
  margin-bottom: 50px;
}

#searchCONTAINER {
  p {
    width :100%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
  }
  #searchBAR {
    width: 100%;
    margin:0 auto;
    border-radius: 4px;
    font-size: 20px;
    line-height: 22px;
    padding: 15px;
    transition: 150ms;
    &:active, &:focus {
      transition: 150ms;
      border-color: $brandGreen;
    }
  }
}

#logoCONTAINER {
  text-align: center;
  a {
    display: inline-block;
  }
  #logo {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  p {
    font-weight: 700;
  }
}

#menuB {
  display: none;
}




















//
