.page#aboutPAGE
  %h6.header ABOUT US
  .section
    .subtitle OUR VISION
    %p Here we aim to describe herbs and plants that have beneficial medicinal properties, focusing primarily on human clinical trials. We also catalogue results from animal trials, strong subjective evidence, and anecdotal evidence from various cultures that have used herbal medicines for thousands of years. Beyond serving as an encyclopedia of medicinal herbs, we strive to provide accurate dosage information for ingestion methods such as teas, tinctures, and capsules.
