.herbCONTAINER {
  width: 512px;
  margin: 0 auto;
  padding: 0 1px;
  p, h1, h2, h3, h4, h5, h6, ul, li, div, a, section {
    font-family: $font2;
    color: black;
  }
  a {
    display: inline-block;
    color: $blue800;
    &:hover {
      text-decoration: underline;
    }
  }

  p, ul {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {

  }
  h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    background: $gray50;
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
  }
  h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  h4 {
    @include subtitle;
    font-weight: 700;
  }

  ul {
    padding-left: 25px;
    li {
      list-style: decimal;
      margin-bottom: 5px;
    }
  }
  ol {
    padding-left: 15px;
    li {
      word-break: break-all;
    }
    li, a {
      font-size: 12px;
      line-height: 14px;
    }
  }

  #herbNAME, #herbLatinNAME {
    text-align: center;
  }

  #herbNAME {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 5px;
  }

  #herbLatinNAME {
    font-size: 16px;
    line-height: 18px;
    font-style: italic;
  }

  #metaDescription {
    width: 300px;
    font-weight: 700;
    text-align: center;
    margin: 25px auto;
  }

  .glance, .introduction, .preparation, .directions, .adversity {
    margin-bottom: 50px;
    position: relative;
  }

  .introduction, .preparation, .directions, .adversity, .references ol {
    @include cardShadow;
    background: white;
    padding: 15px;
    border-radius: 4px;
  }

  .glance {
    padding: 25px 0;

    h3 {
      position: static;
      padding-bottom: 0;
      width: auto;
    }

    ul {
      padding: 0;
      li {
        list-style: none;
        margin: 0;
      }
    }

    > ul {
      @include display-flex;
      @include flex-row;
      > li {
        @include subtitle;
        width: 33.333%;
        padding: 45px 10px 0 10px;
        margin-top: 15px;
        position: relative;
        text-align: center;
        &:before {
          content: '';
          width: 25px;
          height: 25px;
          position: absolute;
          top: 0;
          left: calc(50% - 12.5px);
        }
        &:nth-child(1):before { background-image: url('../images/icons/health_icon_black.svg'); }
        &:nth-child(2):before { background-image: url('../images/icons/globe_icon_black.svg'); }
        &:nth-child(3):before { background-image: url('../images/icons/plant_icon_black.svg'); }
      }
      ul {
        margin-top: 5px;
        li {
          font-size: 16px;
          line-height: 18px;
          text-transform: none;
        }
      }
    }
  }

  .references {
    &.active {
      h3 {
        &:after {
          border-top: 0px;
          border-bottom: 8px solid rgba(0, 0, 0, 0.5);
        }
      }
      ol {
        height: auto;
        opacity: 1;
      }
    }
    h2 {
      @include card;
      position: relative;
      top: 0;
      background: white;
      padding: 15px;
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid transparent;
      transition: 150ms;
      &:after {
        content: '';
        position: absolute;
        right: 15px;
        top: calc(50% - 7px/2);
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid rgba(0, 0, 0, 0.5);
        transition: 150ms;
      }
      &:hover {
        transition: 150ms;
        border-color: $brandGreen;
      }
    }
    ol {
      padding-left: 25px;
      height: 0;
      opacity: 0;
      transition: 150ms;
    }
  }
}
