- if logged_in?
  = form_tag('/herbs', method: 'patch', multipart: true, id: 'editHerbPANEL') do
    %input{type: 'hidden', name: 'slug', value: @herb.slug, id: 'editHerbID', autocomplete: :off, placeholder: 'Name'}
    %input{type: 'hidden', name: 'herbs[draft_status]', value: @herb.draft_status, id: 'editHerbDraftStatus', autocomplete: :off, placeholder: 'Name'}
    .inputCONTAINER
      .formTOOLBAR
        .editInfoB#editGeneralInfoB INFORMATION
        .draftB#draftEditHerbB{class: @herb.draft_status == 'live' ? 'live' : '', data:{status: @herb.draft_status == 'live' ? 'live' : 'draft'}}
        %input{type: 'submit', class: 'saveB', value: 'SAVE'}
        .cancelB#cancelEditHerbB CANCEL
      .formGeneralINFO
        .section
          .box
            %label.subtitle{for: 'editNameFIELD'} Name
            %input{type: 'text', name: 'herbs[name]', id: 'editNameFIELD', value: @herb.name, autocomplete: :off, placeholder: 'Name'}
          .box
            %label.subtitle{for: 'editLatinNameFIELD'} Latin name
            %input{type: 'text', name: 'herbs[latin_name]', id: 'editLatinNameFIELD', value: @herb.latin_name, autocomplete: :off, placeholder: 'Latin Name'}
        .section
          .subtitle Category
          .box.categoriesBOX
            - @categories.each_with_index do |c, ind|
              .checkboxROW
                %input{type: 'checkbox', name: 'herbs[category_ids][]', id: "editCategoryCHECKBOX-#{ind}", class: 'categoryCHECKBOX', value: c.id, data:{id:c.id}}
                %label{for: "editCategoryCHECKBOX-#{ind}"}= c.name
      .section.informationSECTION
        %textarea{name: 'herbs[information]', id: 'editInformationTEXTAREA', autocomplete: :off, placeholder: 'Information'}
          ~ @herb.information
    .previewCONTAINER
      .editNamePREVIEW
      .editLatinNamePREVIEW
      .editInformationPREVIEW
