#herbLIST
  - @herbs.each_with_index do |herb|
    %a{href: "/herbs/#{herb.slug}", class: 'herbITEM'}
      .herbIMG{data:{original:"../uploads/#{herb.thumbnail}"}}
      .herbItemINFO
        %p= herb.name
        %p= herb.latin_name
