- if logged_in?
  = form_tag('/herbs', method: 'post', multipart: true, id: 'newHerbPANEL', class: 'flex-c') do
    .container
      .box
        %label.subtitle{for: 'newNameFIELD'} Name
        %input{type: 'text', name: 'herbs[name]', id: 'newNameFIELD', autocomplete: :off, placeholder: 'Name'}
      .box
        %label.subtitle{for: 'newLatinNameFIELD'} Latin name
        %input{type: 'text', name: 'herbs[latin_name]', id: 'newLatinNameFIELD', autocomplete: :off, placeholder: 'Latin Name'}
      .box
        .subtitle Category
        - @categories.each_with_index do |c, ind|
          .checkboxROW
            %input{type: 'checkbox', name: 'herbs[category_ids][]', id: "newCategoryCHECKBOX-#{ind}", class: 'categoryCHECKBOX', value: c.id, data:{id:c.id}}
            %label{for: "newCategoryCHECKBOX-#{ind}"}= c.name
      .box
        %label.subtitle{for: 'newGeneralDescriptionTEXTAREA'} General Description
        %textarea{name: 'herbs[general_description]', id: 'newGeneralDescriptionTEXTAREA', autocomplete: :off, placeholder: 'General Description'}
      .box
        %label.subtitle{for: 'newTeaDosageAmountFIELD'} Tea dosage amount
        %input{type: 'text', name: 'herbs[tea_dosage_amount]', id: 'newTeaDosageAmountFIELD', autocomplete: :off, placeholder: 'Tea dosage amount'}
      .box
        %label.subtitle{for: 'newTeaSteepTimeFIELD'} Tea steep time
        %input{type: 'text', name: 'herbs[tea_steep_time]', id: 'newTeaSteepTimeFIELD', autocomplete: :off, placeholder: 'Tea steep time'}
      .box
        %label.subtitle{for: 'newTeaSteepTemperatureFIELD'} Tea steep temperature
        %input{type: 'text', name: 'herbs[tea_steep_temperature]', id: 'newTeaSteepTemperatureFIELD', autocomplete: :off, placeholder: 'Tea steep temperature'}
      .box
        %label.subtitle{for: 'newTeaPreparationTEXTAREA'} Tea Preparation
        %textarea{name: 'herbs[tea_preparation]', id: 'newTeaPreparationTEXTAREA', autocomplete: :off, placeholder: 'Tea Preparation'}
      .box
        %label.subtitle{for: 'newHerbImageUPLOAD'} Upload Image
        %input{type: 'file', name: 'herbs[image]', id: 'newHerbImageUPLOAD'}
      .box
        %input{type: 'submit', value: 'SUBMIT'}
      .box
        .cancelB#cancelNewHerbB cancel
