.wrapper#adminNEW
  .console
    = render 'admin/nav'
    .content
      = form_tag('/herbs', method: 'post', multipart: true, class: 'herbFORM') do
        %input{type: 'hidden', name: 'herbs[user_id]', value: session[:user_id], autocomplete: :off}
        #sidebar
          %section
            %input{type: 'submit', id: 'submitB', value: 'SUBMIT'}
            %a{href: "/admin", id: 'cancelB'} CANCEL
            #viewB
              %img{src: "../images/icons/external_link_icon_black.svg"}
          %section
            %label.subtitle{for: 'name'} Name
            %input{type: 'text', name: 'herbs[name]', id: 'name', autocomplete: :off, placeholder: 'Name'}
          %section
            %label.subtitle{for: 'latin_name'} Latin name
            %input{type: 'text', name: 'herbs[latin_name]', id: 'latin_name', autocomplete: :off, placeholder: 'Latin Name'}
          %section
            .subtitle Upload Image
            %img{src: '', id: 'imagePreviewCONTAINER'}
            #imageUploadCONTAINER
              %label{for: 'thumbnail'} Click here to upload
              %input{type: 'file', name: 'herbs[thumbnail]', id: 'thumbnail'}
          %section
            .subtitle Category
            .categoriesBOX
              - @categories.each_with_index do |c, ind|
                .checkboxROW
                  %input{type: 'checkbox', name: 'herbs[category_ids][]', id: "categoryCHECKBOX-#{ind}", class: 'checkbox', value: c.id, data:{id:c.id}}
                  %label{for: "categoryCHECKBOX-#{ind}"}= c.name
          %section
            .subtitle Draft Status
            .draftBOX
              .checkboxROW
                %input{type: 'radio', name: 'herbs[draft_status]', id: "draft_status_draft", class: 'radio', value: 'draft'}
                %label{for: "draft_status_draft"} Draft
              .checkboxROW
                %input{type: 'radio', name: 'herbs[draft_status]', id: "draft_status_live", class: 'radio', value: 'live'}
                %label{for: "draft_status_live"} Live
        #leftPANEL
          %textarea{name: 'herbs[information]', autocomplete: :off, placeholder: 'Information'}
        #rightPANEL
          %section
            #previewNAME
            #previewSciNAME
          %section
            #previewTEXT
