#leftPANEL
  .box.flex-r
    %p An index of herbs and their medicinal properties
  #categoryLIST
    - @categories.each do |category|
      %a{href: "/category/#{category.slug}", class: 'categoryTILE', data:{category: category.name.downcase}}
        %div.flex-c
          %img{src: "./images/icons/#{category.name.downcase}_icon_black.svg"}
          %p= category.name
    #categoryListTOGGLE Categories
