.wrapper#categoryNEW
  .container
    = render 'admin/nav'
    = form_tag('/categories', method: 'post', multipart: true, class: 'categoryFORM') do
      = render 'admin/toolbar', page: 'categoryNEW', header: 'New Category'
      .content
        %section
          %label.subtitle{for: 'name'} Name
          .sectionWRAPPER
            %input{type: 'text', name: 'categories[name]', id: 'name', autocomplete: :off, placeholder: 'Name'}
        %section
          .subtitle Icon
          .sectionWRAPPER
            %img{src: '', class: 'imagePreviewCONTAINER'}
            .imageUploadCONTAINER
              %label{for: 'icon'} Click here to upload
              %input{type: 'file', name: 'categories[icon]', id: 'icon', data:{num:0}}
        %section
          .subtitle Thumbnail
          .sectionWRAPPER
            %img{src: '', class: 'imagePreviewCONTAINER'}
            .imageUploadCONTAINER
              %label{for: 'thumbnail'} Click here to upload
              %input{type: 'file', name: 'categories[thumbnail]', id: 'thumbnail', data:{num:1}}
