.wrapper#categoryPAGE
  = render 'shared/nav'
  .console
    .content
      #categoryTITLE
        %img{src: "../images/categories/#{strip_string(@category.name.downcase)}.svg"}
        %h5= @category.name
      = render 'herbs/herbLIST'
