- if !logged_in?
  #loginB.flex-c Login
- else
  #adminTOOLBAR.flex-r
    #newHerbB New Herb
    = form_tag('/logout', method: 'delete') do
      %input{type: 'submit', id: 'logoutB', value: 'Logout'}
