#nav
  %a{href: '/', class: 'navB'} Home
  %a{href: '/about', class: 'navB'} About
  -# %a{href: 'https://www.instagram.com/herbalrepo/', target: '_blank', class: 'navB shareB'}
  -#   %img{src: '../images/icons/instagram_icon_black.svg'}
  %a{href: 'https://www.pinterest.com/herbalrepo/', target: '_blank', class: 'navB shareB'}
    %img{src: '../images/icons/pinterest_icon_black.svg'}
