#nav
  %a{href: '/', id: 'backToHomeB', class: 'flex-c'}
    %img{src: '../images/icons/chevron_left_black.svg'}
  .navB{data:{page:'aboutPAGE'}} About Us
  .divider.flex-c |
  .navB{data:{page:'contactPAGE'}} Contact Us
