!!! 5
%html(lang="en-US")
  %head
    %title Herbal Repository | An index of the world's plant medicines
    %meta(name="description" content="Information on modern scientific research, dosage information, and cultural evidence pertaining to the medicinal properties of plants throughout the world")
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tag
    %link{rel: 'stylesheet', type: 'text/css', href: '/styles.css'}
    %script{src: '/scripts.js', type: 'text/javascript'}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700'}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Quattrocento:400,700'}
  %body.body#body
    = render 'layouts/flashNOTICE'
    = yield
